<div class="home-page-banner">
  <img src="../../../../assets/img/hero-movie-tv.jpg">
  <div class="inner-content">
    <h1>All Your TV In One Place</h1>
    <p>Watch thousands of shows and movies, with plans starting <br> at $5.99/month.</p>
    <span>HBO®, SHOWTIME®, CINEMAX® and STARZ® available as add-ons.</span>
    <button>START YOUR FREE TRIAL</button>
    <label>Free trial available for new and eligible returning subscribers only.</label>
    <div class="plans-option">
      <div class="">PLAN OPTIONS</div>
      <a class="" href="#plans" id="btnplans">
        <img src="../../../../assets/img/arrow_down.svg" alt="scroll" class="">
      </a>
    </div>
  </div>
</div>

<!-- Strat movie banner -->
<div class="movie-banner">
  <img src="../../../../assets/img/banner.jpg">
</div>

<!-- Start Select your Plan -->
<div class="select-plan" id="plans">
  <h1>
    Select Your Plan
  </h1>
  <p>No hidden fees, equipment rentals or installation appointments.</p>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12 Select-box">
        <div class="plan-box">
          <h2 class="">ITs MOVIE TIME</h2>
          <h5>Get 1 month free, then starts at</h5>
          <h6>$5.99/<sub>month</sub></h6>
          <div class="">
            <button class="select-plan-btn">Select Plan</button>
          </div>
        </div>
        <div class="plan-list">
          <ul>
            <li>
              <img src="../../../../assets/img/icon_green_check.svg">
              Get unlimited access to the Hulu streaming library with limited or no ads. Enjoy full seasons of exclusive
              series, hit movies, Hulu Originals, kids shows, and more
            </li>
            <li>
              <img src="../../../../assets/img/icon_green_check.svg">
              Watch on your favorite devices
            </li>
            <li>
              <img src="../../../../assets/img/icon_green_check.svg">
              Switch plans or cancel anytime
            </li>
          </ul>
          <button type="button" class="btn-collaps" data-toggle="collapse" data-target="#demo">See Add-ons</button>
          <div id="demo" class="collapse">
            <ul>
              <li>No Ads</li>
              <li>HBO®</li>
              <li>SHOWTIME®</li>
              <li>CINEMAX®</li>
              <li>CINEMAX®</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-12 Select-box">
        <div class="plan-box">
          <h2 class="">ITs MOVIE TIME + LIVE TV
          </h2>
          <h5>Get 7 days free, then starts at</h5>
          <h6>$44.99/<sub>month</sub></h6>
          <div class="">
            <button class="select-plan-btn">Select Plan</button>
          </div>
        </div>
        <div class="plan-list">
          <ul>
            <li>
              <img src="../../../../assets/img/icon_green_check.svg">
              Get unlimited access to the Hulu streaming library with limited ads. Enjoy full seasons of exclusive
              series, hit movies, Hulu Originals, kids shows, and more </li>
            <li>
              <img src="../../../../assets/img/icon_green_check.svg">
              Stream 60+ top Live and On Demand TV channels including sports, news, and entertainment </li>
            <li>
              <img src="../../../../assets/img/icon_green_check.svg">
              Record Live TV with 50 hours of Cloud DVR storage
            </li>
            <li>
              <img src="../../../../assets/img/icon_green_check.svg">
              Switch plans or cancel anytime
            </li>
          </ul>
          <button type="button" class="btn-collaps" data-toggle="collapse" data-target="#demo1">See Add-ons</button>
          <div id="demo1" class="collapse">
            <ul>
              <li>Enhanced Cloud DVR</li>
              <li>Unlimited Screens</li>
              <li>HBO®</li>
              <li>SHOWTIME®</li>
              <li>CINEMAX®</li>
              <li>STARZ®</li>
              <li>Entertainment Add-on </li>
              <li>Español Add-on </li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- End Select your Plan -->