<div class="signin-page">
  <div class="card">
    <h1>Sign In</h1>
    <div class="input">
      <input type="text" placeholder="Email or Phone number">
      <input type="password" placeholder="Password">
      <button>Sign in</button>
    </div>
    <div class="remmeber">
      <div class="checkbox">
        <input type="checkbox" value="">
        <label>Remember me</label>
      </div>
      <p>Need help</p>
    </div>
    <div class="fb-login">
      <img class="icon-facebook" src="../../../../assets/img/FB-f-Logo__blue_57.png">
      <span class="fbBtnText">Login with Facebook</span>
    </div>
    <div class="login-signup-now">New to Its Movie time? <a href="#" class="">Sign up now</a>.
    </div>
  </div>
</div>